/* 公共样式 */
.flex{
	display:-webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
/* 盒模型垂直布局 */
.flex-c {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/* 盒模型横向布局 */
.flex-r {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

/* 子元素占据剩余的空间 */
.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/* 子元素垂直居中 */
.flex-align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/* 子元素垂直靠左 */
.flex-align-left {
    -webkit-box-align: align;
    -webkit-align-items: flex-start;
    -ms-flex-align: align;
    align-items: flex-start;
}
/* 子元素垂直靠右 */
.flex-align-center {
    -webkit-box-align: align;
    -webkit-align-items: flex-end;
    -ms-flex-align: align;
    align-items: flex-end;
}
/* 子元素水平居中 */
.flex-pack-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/* 子元素左对齐 */
.flex-pack-left {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}
/* 子元素右对齐 */
.flex-pack-right {
    -webkit-box-pack: justify;
    -webkit-justify-content: end;
    -ms-flex-pack: justify;
    justify-content: end;
}
/* 子元素等间对齐 */
.flex-pack-around {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
}
/*flex-wrap 属性用于指定弹性盒子的子元素换行方式。*/
.fw-nw {flex-wrap:nowrap;} /*默认， 弹性容器为单行。该情况下弹性子项可能会溢出容器。*/
.fw-w {flex-wrap:wrap ;}
.fw-nw {flex-wrap:wrap-reverse;} /*反转 wrap 排列。*/

*{
	margin:0;
	padding:0;
}





